

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
      

      <th class="td-actions"></th>
    </tr>
  </thead>
  <tbody>
    <!-- {{user | json}} -->
    <tr *ngFor="let usr of user">
      <td>{{usr.name}}</td>
      <td>{{usr.lastname}}</td>
      <td>{{usr.email}}</td>
      


      <td class="td-actions">
       
        <button class="btn btn-info" role="button" routerLink="/send">
          <!--bouton delet-->
          send message
        </button>
      </td>

    </tr>

  </tbody>
</table>