<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/send">{{userId.name}} {{userId.lastname}}</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logoutBtn()"><i class="fa fa-sign-out"></i> &nbsp; logout</a>
    </li>
  </ul>
</nav>
<br><br><br>

<div class="container-fluid">
<div class="container">
  <h2>Application Tchat</h2>
  <br><br>
  <div class="col-6">
<form [formGroup]="addForm">

 <div class="form-group">
  <label><strong>Username :</strong></label>
  <input type="text" class="form-control" formControlName="username" >
  </div>
  <div class="form-group">
    <label><strong>Message :</strong></label>
    <textarea class="form-control" formControlName="message" >
    
  </textarea>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label><strong>City :</strong></label>
    <select id="inputState" class="form-control" formControlName="city">
      <option selected>Tabarka</option>
      <option>Tunis</option>
      <option>Kef</option>
      <option>Bizerte</option>
    </select>
  </div>
 <br> 
  
  <input type="submit" value="send message" (click)="sendmessage()" class="btn btn-primary " >
  <div class="clearfix"></div>
</form>
</div>

</div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let com of user"><strong>{{com.username}} :</strong>  {{com.message}} - {{com.city}} </li>
        </ul>
    </div>
  </div>
    
</div>
</div>