<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/send"><i class="fa fa-user"></i> &nbsp; {{userId.name}} {{userId.lastname}}</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logoutBtn()"><i class="fa fa-sign-out"></i> &nbsp; logout</a>
    </li>
  </ul>
</nav>
<br><br>
<div class="container-fluid">
<div class="container">
  
  <h2 class=" text-center" style="color:lightslategray;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:bolder;text-transform:inherit;"><i class="fa fa-comments"></i> Application Tchat</h2>
  <br>
  <!--
  <div class="col-6">
  <form [formGroup]="addForm">

   <div class="form-group">
  <label><strong>Username :</strong></label>
  <input type="text" class="form-control" formControlName="username" >
  </div>
  <div class="form-group">
    <label><strong>Message :</strong></label>
    <textarea class="form-control" formControlName="message" >
    
  </textarea>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label><strong>City :</strong></label>
    <select id="inputState" class="form-control" formControlName="city">
      <option selected>Tabarka</option>
      <option>Tunis</option>
      <option>Kef</option>
      <option>Bizerte</option>
    </select>
  </div>
 <br> 
  
  <input type="submit" value="send message" (click)="sendmessage()" class="btn btn-primary " >
  <div class="clearfix"></div>
  </form>
</div>
-->
</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let com of user"><strong>{{com.username}} :</strong>  {{com.message}} - {{com.city}} </li>
        </ul>
    </div>
  </div>
    
</div> -->
</div>


<div class="container">
  
  <div class="messaging">
        <div class="inbox_msg">
            
            <form [formGroup]="addForm">
                <div class="mesgs">
                  <div class="msg_history">
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                     <!-- <div class="received_msg">
                        <div class="received_withd_msg">
                          <input type="text" class="form-control" formControlName="username" placeholder="username">
                          </div>
                      </div> -->
                    </div>
                    <br>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                          <label><strong> City </strong></label>
                        <select id="inputState" class="form-control" formControlName="city" >
                          <option selected>Tabarka</option>
                          <option>Tunis</option>
                          <option>Kef</option>
                          <option>Bizerte</option>
                        </select>
                       </div>
                    </div>
                    
                  </div>
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" formControlName="message" placeholder="Type a message" />
                      <button class="msg_send_btn" type="button" (click)="sendmessage()" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </form>

          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4><i class="fa fa-envelope"></i> Message</h4>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="chat_list active_chat" *ngFor="let com of user">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" (click)="deleteBtn(com._id)" > </div>
                  <div class="chat_ib">
                    <h5>{{com.author.name}} <span class="chat_date">{{com.date}}</span></h5>
                    <h5><i class="fa fa-home"></i> {{com.city}}</h5>
                    <p><i class="fa fa-envelope-square"></i> {{com.message}}</p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
          
          
        </div>
      
        
      </div></div>